<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/fsr.css}" rel="stylesheet">
</head>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">FSR WebUI</a>
    <div class="navbar-nav">
        <a class="nav-link" th:href="@{/}">Configuración</a>
        <a class="nav-link" th:href="@{/plot}">Gráficos</a>
    </div>

    <div class="navbar-nav ml-auto">
        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown">
                Perfiles
            </a>
            <div class="dropdown-menu" id="profile-dropdown">
                <!-- Generado dinámicamente -->
            </div>
        </div>
        <button class="btn btn-primary" id="save-thresholds">Guardar umbrales</button>
    </div>
</nav>
</html>